<div class="header">
  <div class="header__links">
    <a href="{{invoicelyUrl}}"
       target="_blank">
      <img class="header__icon"
           src="assets/img/invoicely-icon.png"
           alt="invoicely-icon">
    </a>
    <a href="{{clockifyUrl}}"
       target="_blank">
      <img class="header__icon"
           src="assets/img/clockify-icon.svg"
           alt="clockify-icon">
    </a>
  </div>
</div>
