@import 'src/assets/variables/colors';

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  background-color: $black;
  height: 50px;
  &__links{
    padding: 0 50px 0;
  }
  &__icon {
    width: 30px;
    padding: 0 5px 0;
  }
}
