<div class="s-bill__wrapper">
  <mat-card class="s-bill__card-wrapper">
    <mat-card-title>
      <p class="s-bill__card-title">Employees</p>
    </mat-card-title>
    <label>
      <input class="s-bill__search-input"
             placeholder="Search"
             name="searchInput"
             #searchInput="ngModel"
             [(ngModel)]="searchText">
    </label>
    <mat-card-content>
      <ul class="s-bill__list">
        <ul *ngFor="let item of summaryReportArray">
          <li *ngIf="filterCondition(item)"
              class="s-bill__list-item">
            <div class="s-bill__card-title-block">
              <img class="s-bill__img"
                   src="assets/img/1.png"
                   alt="avatar">
              <span class="s-bill__list-item-title">{{item.name}}</span>
            </div>
            <button class="s-bill__table-button"
                    (click)="addToBill(item)">
            </button>
          </li>
        </ul>
      </ul>
    </mat-card-content>
  </mat-card>
  <mat-card class="s-bill__card-wrapper-employee">
    <table class="s-bill__table">
      <thead class="s-bill__table-header">
      <th class="s-bill__table-header-item">Employee</th>
      <th class="s-bill__table-header-item">Summary Rate</th>
      <th class="s-bill__table-header-item">Quantity hours</th>
      <th class="s-bill__table-header-item">Action</th>
      </thead>
      <tbody class="s-bill__table-body">
      <tr *ngFor="let item of bill"
          class="s-bill__table-rows">
        <td class="s-bill__table-data">{{item.name}}</td>
        <td class="s-bill__table-data">
          <label>
            <input class="s-bill__table-data-input"
                   type="number"
                   [(ngModel)]="item.amount"> $
          </label>
        </td>
        <td class="s-bill__table-data">
          <label>
            <input class="s-bill__table-data-input"
                   type="number"
                   [(ngModel)]="item.duration"> ч.
          </label>
        </td>
        <td class="s-bill__table-data">
          <button class="s-bill__table-button-delete"
                  (click)="removeFromBill(item)">
          </button>
        </td>
      </tr>
      </tbody>
      <div *ngIf="bill.length == 0">
        <button [disabled]="true"
                class="s-bill__table-disabled-submit-button"
                mat-raised-button
                (click)="sendBill.emit()">Send</button>
      </div>
      <div *ngIf="bill.length != 0">
        <button mat-raised-button
                class="s-bill__table-submit-button"
                (click)="sendBill.emit()">Send</button>
      </div>
    </table>
  </mat-card>
</div>
