@import 'src/assets/variables/colors';

.s-bill {
  &__wrapper {
    display: flex;
    justify-content: center;
    padding: 60px 40px 0;
    gap: 30px;
  }
  &__list {
    height: 195px;
    overflow: hidden;
    overflow-y: inherit;
    font-size: 16px;

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      margin-right: 10px;
      &-title {
        font-size: 16px;
      }
    }
  }

  &__img {
    width: 40px;
    padding: 0 10px 0 0;
  }

  &__table {
    border-collapse: separate;
    border-spacing: 0 10px;

    &-rows {
      box-shadow: lightgrey 0 3px 7px;
    }

    &-data {
      width: 300px;
      text-align: center;
      padding: 8px;

      &-input {
        width: 46px;
        border: none;
        border-bottom: 1px solid $black;
        outline: none;
      }
    }

    &-body {
      display: block;
      overflow: hidden;
      overflow-y: inherit;
      height: 325px;
      padding: 5px;
      border-bottom: 2px solid $black;
      margin-bottom: 10px;
    }

    &-header {
      display: block;
      height: 51px;

      &-item {
        padding: 10px;
        width: 300px;
        border-bottom: 2px solid $black;
        margin-bottom: 10px;
      }
    }

    &-total {
      display: flex;
      width: 200px;
      justify-content: space-between;
      align-items: center;
    }

    &-button {
      background: url("~assets/img/cross.svg") no-repeat center;
      width: 15px;
      height: 15px;
      transform: rotate(45deg);
      &:hover {
        cursor: pointer;
      }
      &-delete {
        background: url("~assets/img/cross.svg") no-repeat center;
        width: 15px;
        height: 15px;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &-submit-button {
      color: $white;
      background-color: $black;
      float: right;
      transition: background-color .4s;

      &:hover {
        background-color: $black-h;
        cursor: pointer;
      }
    }

    &-disabled-submit-button {
      float: right;
    }

    &-total {
      display: flex;
      width: 200px;
      justify-content: space-between;
      align-items: center;
      float: right
    }
  }

  &__card-wrapper {
    min-width: 250px;
    height: 270px;
    &-employee {
      max-width: 650px;
    }
  }

  &__card-title {
    text-align: center;
    margin-bottom: 10px;

    &-block {
      display: flex;
      align-items: center;
    }
  }

  &__search-input {
    display: block;
    width: 100%;
    margin: 15px auto;
    border: none;
    border-bottom: 1px solid $black;
    outline: none;
    font-size: 16px;
  }
}

