@import 'src/assets/variables/colors';

.order-modal {
  &__wrapper {
    width: 340px;
  }
  &__select{
    padding: 5px;
    float: right;
    border: 2px solid $black;
    border-radius: 5px;
    outline: none;
  }
  &__list {
    &-item {
      padding: 5px;
      border: 2px solid $black;
      border-radius: 5px;
      width: 200px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-bottom: 5px;
      &-title {
        font-size: 17px;
        font-weight: 500;
        margin-bottom: 5px;
      }
      &-subtitle {
        font-size: 14px;
        justify-content: space-between;
        font-weight: 500;
        display: flex;
      }
    }
  }
  &__submit-button {
    color: $white;
    background-color: $black;
    float: right;
    transition: background-color .4s;

    &:hover {
      background-color: $black-h;
      cursor: pointer;
    }
    &:disabled {
      background-color: rgba(0,0,0,.12);
    }
  }
}
