<div class="order-modal__wrapper">
  <h1 mat-dialog-title>Select a vendor</h1>
  <mat-dialog-content>
    <select [(ngModel)]="selectedValue"
            (ngModelChange)="onSelectedChange($event)"
            (change)="onChange($event)"
            class="order-modal__select">
      <option *ngFor="let item of vendorsToBill">{{item}}</option>
    </select>
    <ul class="order-modal__list">
      <li *ngFor="let item of message"
          class="order-modal__list-item">
        <span class="order-modal__list-item-title">{{item.name}}</span>
        <div class="order-modal__list-item-subtitle">
          <span>{{item.amount}}$</span>
          <span>{{item.duration}}ч.</span>
        </div>
      </li>
    </ul>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button [disabled]="!buttonDisabled"
            class="order-modal__submit-button"
            mat-button
            mat-dialog-close
            (click)="sendData()">Send
    </button>
    <button [mat-dialog-close]="true"
            mat-button
            mat-dialog-close>Cancel
    </button>
  </mat-dialog-actions>
</div>
