<app-header></app-header>
<s-bill [bill]="bill"
        [summaryReportArray]="clockifyUsers"
        [searchText]="searchText"
        (pushToBill)="pushToBill()"
        (sendBill)="sendBill()"></s-bill>

